@page "{id:int}"

@using HCM.Core.Helpers
@using HCM.Core.Models.Employee;
@using System.Security.Claims

@model PersonalModel

@{
    var details = Model.EmployeeDetails;
}

<h1>Personal Details</h1>
<br />
@if (Model != null && details != null)
{
    <div>
        <h4 class="mb-3">Billing address</h4>
        <form asp-page-handler="UpdateEmployee" class="needs-validation" method="post" novalidate>
            <div class="row g-3">

                <div class="col-sm-4">
                    <label for="firstName" class="form-label">First name</label>
                    <input asp-for="UpdateEmployee.FirstName" type="text" class="form-control" id="firstName" placeholder="" value="@details.FirstName" required>
                    <div class="invalid-feedback">
                        Valid first name is required.
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="middleName" class="form-label">Middle name <span class="text-body-secondary">(Optional)</span></label>
                    <input asp-for="UpdateEmployee.MiddleName" type="text" class="form-control" id="middleName" placeholder="" value="@details.MiddleName">
                    <div class="invalid-feedback">
                        Valid middle name is required.
                    </div>
                </div>

                <div class="col-sm-4">
                    <label for="lastName" class="form-label">Last name <span class="text-body-secondary">(Optional)</span></label>
                    <input asp-for="UpdateEmployee.LastName" type="text" class="form-control" id="lastName" placeholder="" value="@details.LastName">
                    <div class="invalid-feedback">
                        Valid last name is required.
                    </div>
                </div>  

                <div class="col-12">
                    <label for="email" class="form-label">Email</label>
                    @if (User.IsInRole("HR Admin"))
                    {
                        <input asp-for="UpdateEmployee.Email" type="email" class="form-control" id="email" placeholder="you@example.com" value="@details.Email" required>
                    }
                    else
                    {
                        <input asp-for="UpdateEmployee.Email" type="email" class="form-control" id="email" placeholder="you@example.com" value="@details.Email" required readonly>
                    }
                    <div class="invalid-feedback">
                        Please enter a valid email address.
                    </div>
                </div>

                <div class="col-12">
                    <label for="phoneNumber" class="form-label">Phone Number</label>
                    <input asp-for="UpdateEmployee.PhoneNumber" type="text" class="form-control" id="phoneNumber" placeholder="+359555555555" value="@details.PhoneNumber" required>
                    <div class="invalid-feedback">
                        Please enter a valid phone number.
                    </div>
                </div>

                <div class="col-12">
                    <label for="address" class="form-label">Address</label>
                    <input asp-for="UpdateEmployee.Address" type="text" class="form-control" id="address" placeholder="1234 Main St" value="@details.CurrentAddress" required>
                    <div class="invalid-feedback">
                        Please enter your current address.
                    </div>
                </div>

                <div class="col-12">
                    <label for="managerName" class="form-label">Manager</label>
                    <input type="text" class="form-control" id="managerName" placeholder="Ivan Ivanov" value="@details.ManagerName" readonly>
                </div>

                <div class="col-4">
                    <label for="nationalId" class="form-label">National ID</label>
                    @if (User.IsInRole("HR Admin"))
                    {
                        <input asp-for="UpdateEmployee.NationalIdNumber" type="text" class="form-control" id="nationalId" placeholder="9000000000" value="@details.NationalIdNumber">
                    }
                    else
                    {
                        <input asp-for="UpdateEmployee.NationalIdNumber" type="text" class="form-control" id="nationalId" placeholder="9000000000" value="@details.NationalIdNumber" readonly>
                    }
                </div>

                <div class="col-4">
                    <label for="gender" class="form-label">Gender</label>
                    <input type="text" class="form-control" id="gender" placeholder="Gender" value="@details.Gender" readonly>
                </div>

                <div class="col-4">
                    <label for="hiredAt" class="form-label">Hired At</label>
                    <input type="text" class="form-control" id="hiredAt" placeholder="2025-01-01" value="@details.HiredAt.ToString("D")" readonly>
                </div>

            </div>

            <br />
            <div class="col-4">
                <button class="btn btn-primary" type="submit">Save Changes</button>
            </div>

            <input asp-for="UpdateEmployee.ManagerId" type="text" value="@details.ManagerId" style="display:none;" readonly/>
            <input asp-for="UpdateEmployee.Id" type="text" value="@ViewContext.RouteData.Values["id"]" style="display:none;" readonly/>
        </form>

        <hr class="my-4"> 


        @if (User.IsInRole("HR Admin"))
        {
            if(details.Username == null)
            {
                <form method="post" asp-page-handler="CreateUser">
                    <div class="col-6">
                        <label for="username" class="form-label">Username</label>
                        <div class="input-group has-validation">
                            <input asp-for="CreateUser.Username" type="text" class="form-control" id="username" placeholder="Username" value="" required>
                            <div class="invalid-feedback">
                                Username is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="password" class="form-label">New Password</label>
                        <div class="input-group has-validation">
                            <input asp-for="CreateUser.Password" type="password" class="form-control" id="password" placeholder="***" value="">
                            <div class="invalid-feedback">
                                Password is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-md-5">
                        <label for="role" class="form-label">Role</label>
                        <select asp-for="CreateUser.Role" class="form-select" id="role" required>
                            <option value="Employee" selected>Employee</option>
                            <option value="Manager">Manager</option>
                            <option value="HR Admin">HR Admin</option>
                        </select>
                        <div class="invalid-feedback">
                            Please select a valid role.
                        </div>
                    </div>

                    <br />
                    <div class="col-4">
                        <button class="btn btn-primary" type="submit">Create User</button>
                    </div>

                    <input asp-for="CreateUser.EmployeeId" type="text" value="@ViewContext.RouteData.Values["id"]" style="display:none;" readonly />
                </form>



            }
            else
            {
                

                <br />

                <div>

                    <form method="post" asp-page-handler="UpdateUser">

                        <div class="col-4">
                            <label for="username" class="form-label">Username</label>
                            <div class="input-group has-validation">
                                <input asp-for="UpdateUser.Username" type="text" class="form-control" id="username" placeholder="Username" value="@details.Username" required readonly>
                                <div class="invalid-feedback">
                                    Username is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <label for="password" class="form-label">New Password</label>
                            <div class="input-group has-validation">
                                <input asp-for="UpdateUser.Password" type="password" class="form-control" id="password" placeholder="" value="">
                                <div class="invalid-feedback">
                                    Password is required.
                                </div>
                            </div>
                        </div>

                        <div class="col-4">
                            <label for="role" class="form-label">Role</label>
                            <select asp-for="UpdateUser.Role" class="form-select" id="role" required>
                                @if (Model.Roles.Any())
                                {
                                    @foreach(var role in Model.Roles)
                                    {
                                        if (role.Name == details.Role)
                                        {
                                            <option value="@role.Id" selected>@role.Name</option>
                                        }

                                        else
                                        {
                                            <option value="@role.Id">@role.Name</option>
                                        }
                                    }
                                }
                            </select>
                            <div class="invalid-feedback">
                                Please select a valid role.
                            </div>
                        </div>

                        <br />

                        <button class="btn btn-primary" type="submit">Update User</button>
                        <input asp-for="UpdateUser.EmployeeId" type="text" value="@ViewContext.RouteData.Values["id"]" style="display:none;" readonly />
                    </form>
                </div>

                    <br />

                @if (details.Username != User.FindFirst(ClaimTypes.Name)!.Value)
                {
                        <form method="post" asp-page-handler="DeleteUser">

                            <div class="col-4">
                                <button class="btn btn-danger" type="submit">Delete User</button>
                            </div>
                            <input asp-for="Username" type="text" value="@details.Username" style="display:none;" readonly />
                            @* <input asp-for="DeleteUser.EmployeeId" type="text" value="@ViewContext.RouteData.Values["id"]" style="display:none;" readonly /> *@
                        </form>
                }

            }
                
        }
        else 
        {
            @if (details.Username == User.FindFirst(ClaimTypes.Name)!.Value)
            {
                <form method="post" asp-page-handler="UpdateUser">
                    <div class="col-6">
                        <label for="username" class="form-label">Username</label>
                        <div class="input-group has-validation">
                            <input asp-for="UpdateUser.Username" type="text" class="form-control" id="username" placeholder="Username" value="@details.Username" required readonly>
                            <div class="invalid-feedback">
                                Username is required.
                            </div>
                        </div>
                    </div>

                    <div class="col-6">
                        <label for="password" class="form-label">New Password</label>
                        <div class="input-group has-validation">
                            <input  asp-for="UpdateUser.Password" type="password" class="form-control" id="password" placeholder="" value="" >
                            <div class="invalid-feedback">
                                Password is required.
                            </div>
                        </div>
                    </div>
                    
                    <br />

                    <div class="col-4">
                        <button class="btn btn-primary" type="submit">Update password</button>
                    </div>
                    <input asp-for="UpdateUser.EmployeeId" type="text" value="@ViewContext.RouteData.Values["id"]" style="display:none;" readonly />

                </form>
            }
            else
            {
                <div class="col-6">
                    <label for="username" class="form-label">Username</label>
                    <div class="input-group has-validation">
                        <input type="text" class="form-control" id="username" placeholder="Username" value="@(details.Username ?? "N/A")" required readonly>
                    </div>
                </div>
            }
        }


        <hr class="my-4">

        @if (User.IsInRole("HR Admin"))
        {
            
            <form method="post" asp-page-handler="AddSalary">
                <table class="table" id="salariesTable">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Salary</th>
                            <th scope="col">Effective Date</th>
                            <th scope="col">Note</th>
                        </tr>
                    </thead>
                    <tbody>
                        @for (var i = 0; i < details.Salaries.Count; i++)
                        {
                            <tr class="@(i == 0 ? "table-active" : "")">
                                <th scope="row">@(i + 1)</th>
                                <td>@details.Salaries[i].Amount</td>
                                <td>@details.Salaries[i].EffectiveDate</td>
                                <td>@details.Salaries[i].Note</td>
                            </tr>
                        }
                    </tbody>
                </table>

                <div class="col-4">
                    <label for="salaryAmount" class="form-label">New Salary</label>
                    <input asp-for="AddSalary.Amount" type="number" min="0" step="0.01" class="form-control" id="salaryAmount" placeholder="1234" value="">
                </div>

                <div class="col-4">
                    <label for="effectiveDate" class="form-label">Effective Date</label>
                    <input asp-for="AddSalary.EffectiveDate" type="date" class="form-control" id="effectiveDate" value="">
                </div>

                <div class="col-12">
                    <label for="note" class="form-label">Note <span class="text-body-secondary">(Optional)</span></label>
                    <input asp-for="AddSalary.Note" type="text" class="form-control" id="note" value="">
                </div>

                <input asp-for="AddSalary.EmployeeId" type="text" value="@ViewContext.RouteData.Values["id"]" style="display:none;" readonly />

                <br />
                <div class="col-4">
                    <button class="btn btn-primary" type="submit">Update Salary</button>
                </div>
            </form>

            <hr class="my-4">

            @if (ViewContext.RouteData.Values["id"]!.ToString() != User.FindFirst(CustomClaims.EmployeeId)!.Value)
            {
                    <form method="post" asp-page-handler="DeleteEmployee">

                        <div class="col-4">
                            <button class="btn btn-danger" type="submit">Delete Employee</button>
                        </div>
                        <input type="text" value="@ViewContext.RouteData.Values["id"]" style="display:none;" readonly />

                    </form>
            }
        }

    </div>
}

